body{
    background-color: #eeeeee;
  }
  .container{
    max-width: 1170px;
    margin: 0 auto;
  }
  .header{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 36px;
    font-weight: 900;
  }
  .header__li{
    margin-left: 30px;
  }
  .link-active{
    color: cadetblue;
  }

.fade-enter,
.fade-leave-to{
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active{
  transition: opacity 0.7s;
}